* { 
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body > footer {
    margin-top: auto;
}

input,
button,
select,
optgroup,
textarea {
    font: inherit;
    min-width: 0; /* для FF */
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
    display: none;
}

::-webkit-file-upload-button {
    font: inherit;
}

::file-selector-button {
    font: inherit;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[type=number] {
    -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus { 
    -webkit-text-fill-color: var(--color-text);
    transition: background-color 5000s ease-in-out 0s;
}

textarea {
    resize: vertical;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    white-space: normal;
}

label, button, .button, [role=button] {
    user-select: none;
    cursor: pointer;
}

img,
svg {
    flex: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

img {
    object-fit: cover;
}

// svg:not([fill]) {
//     fill: currentColor;
// }

iframe {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a[href^="tel:"] {
    white-space: nowrap;
}

table {
    border-collapse: collapse;
}

iframe {
    border: 0;
}