.fb-menu {
    .fancybox__slide {
        display: block;
        padding: 0 !important;
    }

    .fancybox__content {
        display: block;
        padding: 3rem 1.5rem;
        min-height: 100%;
        width: 400px;
        max-width: 90%;
    }

    &__header {
        display: flex;
        align-items: center;
        white-space: nowrap;

        &-title {
            flex-grow: 2;
            font-size: 1.5rem;
        }

        > svg {
            width: 1rem;
            margin-right: 1rem;
        }

        button {
            width: 2.25rem;
            height: 2.25rem;

            svg {
                width: 1.5rem;
            }
        }
    }

    &__items {
        margin-top: 1.5rem;

        a,
        button {
            display: block;
            padding: 1rem 0 1rem 2rem;
            border-bottom: 1px solid var(--color-border);

            @media (min-width: 1700px) {
                padding: 1.5rem 0 1.5rem 2rem;
            }

            &:hover {
                color: var(--color-primary);
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 0.75rem;
            width: 100%;

            @media (min-width: 1200px) {
                display: none;
            }
        }
    }
}